.header {
  // border: 1px solid green;
  width: 100%;
  height: 320px;
//   background-image: url(../../assets/img/yuenv/header-banner.png);
  background-image: url("../../assets/img/yuenv/header-banner2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top top;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  h1 {
    font-size: 32px;
    font-weight: bold;
    text-shadow: 0 2.4px 0 #fa5128;
    color: #fff;
    position: relative;
    top: 17%;
    letter-spacing: 3px;
  }
}