root = true

[*]
charset = utf-8
indent_style = space # 缩进的形式
indent_size = 4 # 缩进大小
end_of_line = lf # 结尾换行符 lf(unix)|crlf(window)|cr(mac)
insert_final_newline = true # 文档是否需要以换行(\n)结尾
trim_trailing_whitespace = false # 是否允许结尾空格
